#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input_text input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}
.ej03_container{
  display: flex;
  flex-direction: column;
}
.ej03_input input select{
  width: 50%;
}
.ej03_boton button{
  width: 50%;
}