/* Estilo Nivel 1 del Primer Juego de Inglés */

.contBotonesN01_J01 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* Estilo Nivel 2 del Primer Juego de Inglés */

.contBotonesN02_J01 {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* Estilo Nivel 3 del Primer Juego de Inglés */

.botonesColorN03_J01 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.botonesNombreN03_J01 {
    display: grid;
    gap: 22px;
    grid-template-rows: repeat(1, 1fr);
}

.contBotonesN03_J01 {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}