.contenedorP01_G {
    width: calc(100%);
    min-height: 100dvh;
    margin-inline: auto;
    border-style: solid;
    border-radius: 1rem;
    border-width: 10px;
}

/* Estilo página principal */

.contenedorP01_G:not(.des) {
    background-color: rgb(121, 61, 12);
}

.encabezado {
    background-color: rgb(167, 123, 83);;
    border-radius: 2rem;
    border-style: solid;
    border-color: blanchedalmond;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.empresa {
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    width: 100%;
    text-align: center;
}

.menu {
    margin-top: 2rem;
    background-color: #FF722E;
    border-radius: 5rem;
    border-style: solid;
    border-color: rgb(194, 71, 0);
    display: flex;
    justify-content: space-evenly;
    
}

.opcionesMenu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
}

.productos {
    padding: 4rem 21px;
    display: flex;
    grid-gap: 28px;
    width: 100%;
    overflow: hidden;
}

.lateral {
    background-color: #009229;
    border-radius: 1rem;
    border-style: solid;
    border-width: 4px;
    border-color: #fa4747;
    display: flex;
    padding-inline: 1rem;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

.opcionesLateral {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8d0968;
}

.inventario {
    background-color: #DB5253;
    border-radius: 1rem;
    border-style: outset;
    border-width: 5px;
    display: grid;
    grid-gap: 4rem;
    padding: 4rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenProducto {
    border-width: 6px;
    border-style: solid;
}

.nombreProducto {
    text-align: center;
    color: #05cf6a;
}

.precioProducto {
    text-align: center;
    color: #000000;
}

.pie {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #3f2697;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

.interes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interes:not(.dev) {
    justify-content: space-evenly;
}

.categoriaPie {
    color: rgb(133, 250, 0);
}

.opcionesCat {
    color: #ddff62;
}

/* Estilo desafío extra */

.contenedorP01_G:not(.pag) {
    background-color: rgb(158, 212, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.figura1 {
    height: 180px;
    width: 180px;
    border-top-left-radius: 9rem;
    border-bottom-left-radius: 9rem;
    border-bottom-right-radius: 9rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.figura2 {
    height: 240px;
    width: 240px;
    border-top-left-radius: 9rem;
    border-top-right-radius: 9rem;
    border-bottom-right-radius: 9rem;
    background-color: rgb(0, 255, 98);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(135px, -135px);
    z-index: 1;
}

.figura3 {
    height: 135px;
    width: 135px;
    border-top-left-radius: 9rem;
    border-bottom-left-radius: 9rem;
    border-bottom-right-radius: 9rem;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-90px, 90px);
    z-index: 3;
}