#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

input{
    width: 500px;
    height: 30px;
}

.P04 {
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.h1P04 {
    border-style:ridge;
    border-radius: 12px;
    border-width: 4px;
    color: #000000;
    font-size: 3.2em;
    line-height: 1.1;
    padding-bottom: 12px;
}

.h2P04 {
    color: #000000;
}

/* Estilo Ejercicio 01 */

.contenedorValidarP04 {
    border-style: groove;
    border-color: #000000;
    border-radius: 4px;
    border-width: 8px;
    display: flex;
    padding-top: 43px;
    padding-left: 83px;
    padding-bottom: 43px;
    padding-right: 83px;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.botonesValidarP04 {
    display: flex;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

/* Estilo Ejercicio 02 */

.contenedorBotonP04 {
    border-style: groove;
    border-color: #000000;
    border-radius: 4px;
    border-width: 8px;
    display: flex;
    padding-top: 40px;
    padding-left: 60px;
    padding-bottom: 40px;
    padding-right: 60px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.botonesP04 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botonP04 {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.botonP04:hover {
    border-color: #000dff;
}

.botonP04:focus,
.botonP04:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}