#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.P04 {
    background-color: #eb8d00;
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.contenedorBoton{
    display: flex;
    flex-direction: column;
    justify-content: spac;
}

.contenedorValidar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    width: 500px;
    height: 30px;
}

.botonesValidar{
    display: flex;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.h1P04 {
    color: #ff0000;
    font-size: 3.2em;
    line-height: 1.1;
}

.h2P04 {
    color: #ff0000;
}

.botonP04 {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.botonP04:hover {
    border-color: #000dff;
}

.botonP04:focus,
.botonP04:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}