#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.contenedor{
    width: 100%;
    height: auto;
}
.contenedorBoton{
    display: flex;
    flex-direction: column;
    justify-content: spac;
}
.contenedorValidar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    width: 500px;
    height: 30px;
}
.botonesValidar{
    display: flex;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}
.botones{
    display: flex;
    justify-content: center;
    gap: 20px;
}