
#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
input[type="number"] {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

button{
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}
