.contenedor {
  background: #fff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width:100%;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 10px;
  color: #000000;
}

input[type="text"] {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

button {
  background-color: #0370ff;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

